@media screen and (max-width: 991px) {
    
    .reception__card-staff {
        width: 100%;
        margin-right: 0;
    }

    .electronic-card__card-info {
        width: 100%;
        margin-right: 0;
    }
    .reception__details {
        margin: 0 auto;
    }


    /* Страница с календарём */
    .reception__box {
        flex-direction: column-reverse;
    }
    .reception__calendary {
        margin-left: 0;
        margin-bottom: 21px;
    }
}

@media screen and (max-width: 768px) {
    h1.title {
        font-size: 20px;
    }
    h3.title {
        font-size: 14px;
    }
    h2.title {
        font-size: 20px;
    }
    .card-staff__paragraph {
        font-size: 12px;
    }
    .dots-alist__item {
        font-size: 14px;
    }
    .card-info__paragraph {
        font-size: 14px;
    }
    .main-head {
        padding: 4px 12px;
    }
    .card-info {
        display: flex;
        flex-direction: column;
    }
    .card-info__wrapper {
        padding: 20px 8px;
    }
    .electronic-card__card-info {
        height: auto;
    }
    .card-info__img {
        padding: 12px 46px;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .card-info__title {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

    .burger {
        display: block;
    }
    .content__main-aside {
        transform: translateX(-191px);
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
    }
    .content__main-main {
        margin-left: 0;
    }

    .content__overflow {
        display: none;
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #141519b8;
        z-index: 1;
    }
    .alist-icons__item:nth-child(2) {
        display: none;
    }
    .alist-icons__item:nth-child(3) {
        display: none;
    }
    .card-staff__wrapper {
        flex-wrap: wrap;
    }
    .card-staff__main-btn {
        width: 100%;
    }
    .card-staff__info-person {
        margin-bottom: 16px;
    }

    /* Календарь */
    .table-days {
        grid-template-rows: repeat(5, minmax(20px, 69px));
        grid-template-columns: repeat(7, minmax(20px, 68px));
    }
    .reception__calendary {
        width: auto;
        height: auto;
        padding-bottom: 12px;
    }
}


.translateX {
    transform: translateX(0);
    transition: .3s;
}